*.py[c|o]

# Temporary files (e.g., from text editors/IDEs)
*~

# Local-specific settings and credentials
settings/local.py

# Don't check in the SQLite DB
*.db

#Virtual Environtment
.env

# Generated maps
static/map*.png
