body {
  padding-top: 60px;
}

.map-container {
  margin-bottom:20px;
  position:relative;
}

#map {
  height:600px;
}

#inset-map {
  height: 200px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -100px;
  -webkit-box-shadow: 1px 1px 10px 1px #888;
  -moz-box-shadow: 1px 1px 10px 1px #888;
  box-shadow: 1px 1px 10px 1px #888;
}

#inset-map .leaflet-control-attribution {
  display:none;
}